@import '~@coreui/coreui/dist/css/coreui.min.css';

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 50px;
  background-color:#003366;
  color: white;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 48px;
}

.hero-content p {
  margin: 20px 0;
}

.hero-image {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ccarousel {
  width: 100%;
  height: 100%;
}

.ccarousel .d-block {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ccarousel .carousel-control-prev,
.ccarousel .carousel-control-next {
  color: white;
  font-size: 24px;
  z-index: 1;
}

.ccarousel .carousel-indicators {
  bottom: 10px;
}

.ccarousel .carousel-indicators li {
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
} 