
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    background-color:#003366;
  }
  
  .navbar .logo img {
    height: 40px; 
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 30px; 
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #fbbf24;
  }
  
  .auth-buttons {
    display: flex;
    gap: 15px; 
  }
  
  .auth-buttons .login-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-buttons .primary-btn {
    background-color: #fbbf24;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #1e3a8a; 
    transition: background-color 0.3s ease;
  }
  
  .auth-buttons .primary-btn:hover {
    background-color: #f59e0b;
  }
  
  .auth-buttons .login-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  