.maincontent {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: large;
    padding-top: 0; 
    margin: 0; 
}

.footercontent {
    height: 15vh;
    background-color: rgb(231, 231, 231);
    padding-top: 10px;
    padding-left: 250px;
    font-size: large;
    color: grey;
    text-decoration: none;
}

.mybtn {
    background-color: rgb(18, 157, 185);
    color: white;
    border: 3px grey;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.em, .pw {
    width: 350px;
    height: 80px;
}

.mainbox {
    margin-left: 350px;
    margin-right: 350px;
    border: 2px solid grey;
    border-radius: 3px;
    padding-top: 30px;
}

a{
    color: rgb(18, 157, 185);
    text-decoration: none;
}
h1{
    position: relative;
    right: 50px;
}
